
<p class="descripcion descrip2">
    <span class="subtitulo funciPadre">Definición!</span>
    <br/>
    El proyecto Ruta verde busca integrar tecnologías ambientales, computacionales, de IoTs para generar zonas urbanas que impacten de manera positiva la calidad del aire, la temperatura y el paisajismo, todos como elementos que ayudan a mejorar la calidad de vida del ciudadano...
</p>
<br>
<p class="descripcion">
  <span class="subtitulo funciPadre">Funcionalidades!</span>
  <br/>
<span class="funcionalidad">Especimenes</span> - El almacenamiento de las hojas de vida de las especies de árboles permitirá hacer seguimiento de su referencia e identificación (através del reconocimiento de las hojas), crecimiento y seguimiento aproximado a las variables medio ambientales que impacta en la zona.
<br/>
<span class="funcionalidad">Calidad del Aire</span> - El reporte de las variables medio ambientales de la zona verde, permite que se pueda realizar seguimiento y dejar registro de muestras de la calidad del aire en diferentes partes de la misma.
<br/>
<span class="funcionalidad">Sitios</span> - El registro de los sitios permite que se demarque la localización del área de seguimiento de la zona verde en la ciudad.
  </p>

<carousel
    [images]="images"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [height]="500"
    [arrowsOutside]="true"
    [autoplay]="true"
    [dots]="true"
    [loop]="true"
    [overflowCellsLimit]="1">
</carousel>
