.divCarousel{

}

.funcionalidad{
    color: #34c774;
}

.funciPadre{
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
    width: 100%;
    display: block;
    padding: 0px;
}

br{
    content: "";
    margin: 0.5rem;
    display: block;
}

.descrip2{
    background-color: #70de9b5e;
    border: none;
}